<html>
    <style>
        .currentQuestStep{
            text-align: center;
            font-size: 25px;
            color: white;
            background-color: #555555;
            padding: 7px;
        }
    </style>
    <p class="currentQuestStep">Quest : {{theStepVar[0].idOfTheQuest}} Step : {{theStepVar[1].stepNumber}}
        <br /> Name of the monster : {{theStepVar[2].name}}
        <br /> Weapon of the monster : {{theStepVar[2].weapon}}
        <br /> Armor of the monster : {{theStepVar[2].armor}}
        <br /> Passive of the monster : {{theStepVar[2].passive}}
    </p>
    <pre>
                               %####((((((#(((*
                            %%%####(((((////((((#.
                          (%%###((////////*****((*
                          %##((((//////*********/*
                         (#(((((////((/*/*/*****/*.
                         ####(###((*(((****,,,,**/*
                         #%###(/////(#**,/**********
                         .#(#((((//*/((/**//******/,
                           (@(((((/(/(((////*******
                           *#####((/(((/***///**//
                            (%(%##((((/////*/(//.
                               (###########(///*,
                             ,@/,,/#(#((/%(///* .@.
                     *#%%&@@&@@@,,,,,*((/#((, .. #&&&&%(,
             (&&@&@@@@@&@@&&&&&@&,..... ,* .     %&&&&&&&&&&&&&&(.
       (&@@@@@@@@@&@@@&&@@@&&@@&@/,...@%/(%&/    %&&&&&&&&&&&&&&&&&@&&%
      #@@@@&@@@@@@@@&&@@&&&&@&&&&@..,.**%%(..(* ,(&&&&&&&&&&&&&&&&&&&&&&%
      @@@@&@&@@@&@@&&@@@@&&@&&&@@&%*..*@&&&&...../@&&@%*#&&&&&&&&&&&&&@&&&.
     ,@@@@&&@@@@&@&&&@@@@@&&@&&&&&@(,.&@@&&&&...,#@&&&&&&&&&&&&&&&&&&&@&&&&
    </pre>
    <div class="continueTheQuest">
        <form method="POST" action="/getQuest">
            <div class="theQuestDiv">
                <label for="theUserChoice">What do you want to do ? :</label>
                <select name="theUserChoice" value="0">
                    <option value="{{theStepVar.choiceOne}}">Attack {{theStepVar.choiceOne}} </option> <!-- use the var pass in the render_template() -->
                    <option value="{{theStepVar.choiceOne}}">Defend {{theStepVar.choiceTwo}} </option> <!-- use the var pass in the render_template() -->
                </select>
                <button type="submit" >Valid my choice</button>
            </div>
        </form>
        <br />
    </div>
</html>