{% extends 'base.html' %}

{% block container %}

    <div id="game_area" style="border: black 5px solid; width: 800px; height: 600px; margin: auto">

        <div id="game_display" style="background-color: red; width: 790px; height: 390px;">
            <p>Some nice tits pictures</p>
            {{ step_display }}
        </div>

        <div id="game_context" style="background-color: green; width: 790px; height: 200px;">
            <div id="game_context_title">
                <h1>{{ step_context_title }}</h1>
            </div>
            <div id="game_context_text">
                <p>{{ step_context_text }}</p>
            </div>
        </div>

    </div>

    <div id="game_choice_area" style="border: black 5px solid; width: 400px; margin: auto; text-align: center;">
        <form name="" action="{{ url_for('game_compute') }}" method="post">
            Votre choix ?
            <select name="userChoice">
                {% for option in step_options %}
                    <option value="{{option["value"]}}">
                        {{ option["text"] }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit">Valider</button>
        </form>
    </div>

    Log #{{log}}# <br>
    User current hero #{{user.selected_hero.name}}# <br>
    Hero current quest #{{user.selected_hero.current_quest}}:{{user.selected_hero.current_step}}# <br>
    Last user choice #{{lastChoice}}#

    <form name="resetForm" action="{{ url_for('game_compute') }}" method="post">
        <button type="submit" name="reset_quest">Reset user quest</button>
    </form>
{% endblock %}