{% extends 'game.html' %}

{% block game_display %}
    {{ fight_display }}
{% endblock %}

{% block game_context_title %}
    {{ fight_context_title }}
{% endblock %}

{% block game_context_text %}
    <p style="text-align: center">{{ fight_context_text }}</p>
    <div>
        {% if fight_state["round"] == 0 %}
            Fight Begin !
        {% else %}
            {# add some if stuff for mode #}
            <p class="alert alert-secondary m-3">
            {% if fight_state["player_1"]["instance"].mode == "attack" %}
                -> <strong>{{ fight_state["player_1"]["instance"].name }}</strong> try to do <strong>{{ fight_state["player_1"]["damage"] }}</strong>
                to <strong>{{ fight_state["player_2"]["instance"].name }}</strong>, he take <strong>{{ fight_state["player_2"]["taken"] }}</strong>
            {% else %}
                -> <strong>{{ fight_state["player_1"]["instance"].name }}</strong> choose to be defencive</strong>
            {% endif %}
            </p>
            <p class="alert alert-secondary m-3">
            {% if fight_state["player_2"]["instance"].mode == "attack" %}
                -> <strong>{{ fight_state["player_2"]["instance"].name }}</strong> try to do <strong>{{ fight_state["player_2"]["damage"] }}</strong>
                to <strong>{{ fight_state["player_1"]["instance"].name }}</strong>, he take <strong>{{ fight_state["player_1"]["taken"] }}</strong>
            {% else %}
                -> <strong>{{ fight_state["player_2"]["instance"].name }}</strong> choose to be defencive</strong>
            {% endif %}
            </p>
        {% endif %}
    </div>
    <form class="row justify-content-sm-center mt-3" action="{{ url_for('game_compute') }}" method="post">
        <div class="col-md-5">
            <button class="btn-block btn-primary" type="submit" name="userChoice" value="attack">Attack</button>
        </div>
        <div class="col-md-5">
            <button class="btn-block btn-secondary" type="submit" name="userChoice" value="defence">Defence</button>
        </div>
    </form>
{% endblock %}

{% block game_choice_area %}
    Fight Mode !
{% endblock %}