{% extends 'base.html' %}

{% block container %}

    <div id="game_area" style="border: black 5px solid; width: 800px; height: 300px; margin: auto; margin-top:50px;">

        <div id="game_context" style="background-color: green; width: 790px; height: 290px;">
            <div id="game_context_title">
                {% block game_context_title %}{% endblock %}
            </div>
            <div id="game_context_text">
                {% block game_context_text %}{% endblock %}
            </div>
        </div>

    </div>
    <br/>
    <style>
        #game_choice_area{
            padding:15px;
        }
    </style>
    <div id="game_choice_area" style="border: black 5px solid; width: 400px; margin: auto; text-align: center;">
        {% block game_choice_area %}{% endblock %}
    </div>

    <div id="log_area" style="background-color: #555555; color: #cccccc; width:50%; text-align: center; margin:auto; margin-top: 15px;">
        <div style="width:100%; height: 300px; background-color: #485F6E; overflow: auto;">
            <h3>Logs :</h3>
            <ul>
                {% for log in logs[::-1] %}
                <li>{{ log }}</li>
                {% endfor %}
            </ul>
        </div>
        #
        <br>
        {% block log_area %}
            User current hero #{{user.selected_hero.name}}# <br>
            Hero current quest #{{user.selected_hero.current_quest}}:{{user.selected_hero.current_step}}# <br>
            Last user choice #{{lastChoice}}#
        {% endblock %}
    </div>
    <br/>
    <form name="resetForm" action="{{ url_for('game_compute') }}" method="post" style="text-align: center">
        <button type="submit" name="reset_quest">Reset user quest</button>
    </form>

{% endblock %}