{% extends 'base.html' %}

{% block stylesheet %}
    {{ super() }}
    <style>
        .welcomeMessage{
            text-align:center;
            font-size: 35px;
            margin-top: 180px;
        }

        .formLogin{
            text-align:center;
            font-size: 25px;
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block container %}
    <p class="welcomeMessage">
        Welcome to our game : DigitaGame
        <br><br>
        Please login to continue !
    </p>

    <div class="row justify-content-sm-center">
        <div class="col-md-6">

            <div class="card">
                  <h4 class="card-header">Login form</h4>

                  <div class="card-body">
                        <div class="formRegister">
                            <form action="" method="POST">
                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="username_input">Username</span>
                                      </div>
                                      <input class="form-control" type="text" name="username_input" placeholder="Jean PAUL" aria-describedby="username_input" required>
                                </div>

                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="password_input">Password</span>
                                      </div>
                                      <input class="form-control" type="password" name="password_input" placeholder="**secret**" aria-describedby="password_input" required>
                                </div>

                                <input class="btn btn-success btn-block" type="submit" value="Connexion">

                            </form>
                        </div>
                  </div>

            </div>

        </div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-md-6 mt-3">
            {% if error_messages %}
                <div class="alert alert-warning">
                    WARNING :
                    {% for error in error_messages %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}