<html>
    <style>
        .welcomeMessage{
            text-align:center;
            font-size: 35px;
            margin-top: 180px;
        }

        .formLogin{
            text-align:center;
            font-size: 25px;
            margin-top: 100px;
        }
    </style>
    <!-- Welcome message -->
    <p class="registerPage">
        Register page of : DigitaGame
        <br><br>
        <p>
            Please create your account with a unique username and a <strong>STRONG</strong> password !
        </p>
    </p>
    <div class="formRegister">
        <form method="POST">
            <label for="username">Username :</label>
            <input name="username" required>
            <br>
            <label for="password">Password :</label>
            <input name="password" type="password" required>
            <br><br>
            <input type="submit" value="Create an account">
        </form>
    </div>
</html>