{% extends 'base.html' %}

{% block stylesheet %}
    {{ super() }}
    <style>

    </style>
{% endblock %}

{% block container %}
    <div class="registerPage">
        Register page of : DigitaGame
        <br><br>
        <p>
            Please create your account with a unique username and a <strong>STRONG</strong> password !
        </p>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-md-6">

            <div class="card">
                  <h4 class="card-header">Registration form</h4>

                  <div class="card-body">
                        <div class="formRegister">
                            <form action="" method="POST">
                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="username_input">Username</span>
                                      </div>
                                      <input class="form-control" type="text" name="username_input" placeholder="Jean PAUL" aria-describedby="username_input" required>
                                </div>

                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="password_input">Password</span>
                                      </div>
                                      <input class="form-control" type="password" name="password_input" placeholder="**secret**" aria-describedby="password_input" required>
                                </div>

                                <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="password_confirm_input">Confirm pwd</span>
                                      </div>
                                      <input class="form-control" type="text" name="password_confirm_input" placeholder="**secret**" aria-describedby="password_confirm_input" required>
                                </div>

                                <input class="btn btn-success btn-block" type="submit" value="Create an account">

                            </form>
                        </div>
                  </div>

            </div>

        </div>
    </div>


    {% if error_messages %}
            <div class="error">
                WARNING :
                {% for error in error_messages %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
    {% endif %}
{% endblock %}