{% extends 'base.html' %}

{% block stylesheet %}
    {{ super() }}
    <style>
        .theHeroDiv{
            color:rgb(68, 68, 68);
            border: 1px solid black;
            border-radius: 5px;
            border-width:2px;
            padding: 20px;
            width:65%;
        }
    </style>
{% endblock %}

{% block container %}
    <p>
        Hello : {{ user.name }}
        <br />
        {% if the_heroes %}
            {% for hero in the_heroes %}
            <div class="theHeroDiv">
                <p>Username of your hero : <strong>{{hero.name}}</strong></p>
                {% if hero.sex == 0 %}
                    <p>The sexe of your hero is : Male</p>
                {% else %}
                    <p>The sexe of your hero is : Female</p>
                {% endif %}
                <p>Weapon : <strong>{{hero.weapon}}</strong></p>
                <p>Your hero is currently at this quest : {{hero.current_quest}}, and your step in this quest is : {{ hero.current_step }} maybe your are blocked ? need help noob ?</p>
            </div>
            <br />
            {% endfor %}
        {% else %}
            <p>the_heroes var is empty, create a first please !</p>
        {% endif %}
        <br />
    </p>

    <div class="continueTheQuest">
        <form method="GET" action="/continueQuest">
            <button type="submit" >Go to the quest</button>
        </form>
    </div>

    <div class="deleteAccount">
        <form method="POST" action="/deleteAccount">
            <input name="password" type="password" required>
            <button type="submit" >Delete the account</button>
        </form>
    </div><br />

    <div class="createAHero">
        <form method="POST" action="/create_hero">
            <label for="name_of_the_hero">Enter the name of your hero : (the name of your hero have to be unique)</label>
            <input name="name_of_the_hero" placeholder="Pseudo" required>
            <br />
            <label for="weapon_of_the_hero">Select the weapon of your hero : (if you want to have more weapon just by our battle pass)</label>
            <select name="weapon_of_the_hero" value="hands">
                <option value="Axe">Axe</option>
                <option value="Sword">Sword</option>
                <option value="Stick">Stick</option>
                <option value="Hands">Hands</option>
                <option value="Nothing" disabled>So strong weapon (available in the battle pass only)</option>
            </select>
            <br />
            <label for="sex_of_the_hero">Select the sex of your hero :</label>
            <select name="sex_of_the_hero" value="0">
                <option value="0">Male</option>
                <option value="1">Female</option>
            </select><br />
            <label for="passive_of_the_hero">Select the passive of your hero :</label>
            <select name="passive_of_the_hero" value="nothing">
                <option value="healt">Healt</option>
                <option value="eat">Eat</option>
                <option value="nothing" disabled>Nothing (Yes it's only available in the battle pass too, sorry it's not us it's EA business model)</option>
            </select>
            <button type="submit" >Create my hero</button>
        </form>
    </div>
{% endblock %}



</html>